@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #000000; /* Dark text */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Light background */
    --foreground: #000000; /* Dark text */
  }  
}

:root {
  --first-slide-bg: #fcf3e4;
  --first-slide-text: #24130f;
  --button-bg: #ffb54c; /* Dark button */
  --button-text:#65372a; /* Light text */
  --card-light-bg:#f9dfb9;
  --usecase-card:#f9e9d2;
  --ocean-green:#399373;
  --foother-border:#e4caa8;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
